// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import "reset";

body {
    font-family: "Roboto Slab", "Arial";
}

a {
    cursor: pointer;
}

p {
    margin: 2px 0 0 0;
    line-height: 1.5;
}

input {
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

button {
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(254, 146, 0);
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 211, 119);
    }
}

.h1 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.h3 {
    font-size: 18px;
    color: rgb(150, 147, 147);
    text-align: center;
    margin: 10px 0 0 0;
}

.button {
    width: 250px;
    height: 55px;
}

.arrow {
    display: block;
    min-width: 30px;
    height: 30px;
}

.logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        & img {
            width: 50px;
            height: 50px;
        }

        &__text p {
            font-size: 24px;
            color: rgb(255, 255, 255);
            margin-left: 5px;
        }
}

.shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1100px;
    height: 650px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 10001;

    .block-heading {
        margin-top: 20px;
    }

    .block-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 900px;
        margin: 10px;

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-width: 500px;
            height: 400px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 3px solid black;
            border-radius: 15px;
            overflow: auto;
            background-color: rgb(238, 238, 238);

            ul {
                margin-top: 0;
            }
        }
        
        &__element {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 350px;
            height: 150px;
            margin-top: 20px;
            border: 2px solid black;
            border-radius: 7.5px;
            background-color: white;

            .close-button {
                position: absolute;
                top: -12px;
                right: -12px;
                width: 24px;
                height: 24px;
                background-color: rgb(254, 146, 0);
            }
        }

        &__container-image {
            height: min-content;
            margin-left: 20px;
            margin-right: 40px;

            img {
                width: 70px;
                height: 90px;
            }
        }

        &__container-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 250px;
            margin-right: 20px;

            p {
                font-size: 14px;
            }
        }

        &__price {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 400px;
            margin-left: 30px;

            p {
                font-size: 28px;
            }

            p + p {
                margin-bottom: 28px;
            }

            label {
                font-size: 24px;
            }

            select {
                display: block;
                margin-top: 12px;
                font-size: 20px;
            }
        }
    }

    .container-button {
        margin-bottom: 30px;
    }

    .close-frame {
        width: 42px;
        height: 42px;
        position: absolute;
    }
}

.show-background {
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    width: 100%;
    height: 4100px;
    position: absolute;
    z-index: 9999;
}

// TODO: rename to "callback"
.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    position: absolute;
    z-index: 10000;

    .close {
        width: 42px;
        height: 42px;
        position: absolute;
        top: -16px;
        left: 616px;
    }
}

.show-header {
    min-width: 840px;
    position: fixed;
    top: -80px;
    background-image: url('file:///Users/vladimir/Documents/git-Jules-Verne-site/img/book_coffee.jpg');
    background-position: bottom left;
    border-radius: 0 0 10px 10px;
    z-index: 10000;
    transition-property: margin-top;
    transition-duration: 0.500s;
}

.tooltip {
    position: absolute;
    width: 250px;
    height: 65px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 15px;
    border-radius: 35px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.700s;
}

.tooltip::before {
    content: ''; 
    position: absolute;
    bottom: -30px;
    left: 40px;
    border: 10px solid transparent;
    border-top: 20px solid rgba(0, 0, 0);
}

.tooltip::after {
    content: ''; 
    position: absolute;
    bottom: -26px;
    left: 40px;
    border: 10px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
}

.block-heading {
    margin-bottom: 30px;
}

.wrapper {
    max-width: 1440px;
    min-height: 100%;
    overflow: hidden;

    &-header {
        display: flex;
        //position: absolute;
        justify-content: center;
        max-height: 200px;
        max-width: 1440px;
        background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/jp-valery-594443-unsplash.jpg");
        background-size: 100% 1030px;
    }

    &-main {

        &__intro {
            display: flex;
            justify-content: center;
            min-height: 650px;
            margin-bottom: 10px;
            background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/jp-valery-594443-unsplash.jpg");
            background-position: right -80px;
            background-repeat: no-repeat;
            background-size: 100% 1030px;
            box-shadow: 0 5px 5px rgba(0,0,0, 0.50);
        }

        &__about-us {
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }

        &__price {
            display: flex;
            justify-content: center;
            background-color: rgb(238, 238, 238);
        }

        &__callback {
            display: flex;
            justify-content: center;
            background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/book_and_compas.jpeg");
            background-size: 100% 100%;
            box-shadow: 0 0 5px 5px rgba(0,0,0, 0.50);
            margin-bottom: 10px;
            margin-top: 8px;
        }

        &__newbook {
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }

        &__contacts {
            display: flex;
            justify-content: center;
            background-color: rgb(238, 238, 238);
        }
    }

    &-footer {
        background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/footer_background.jpg");
        background-size: 100% 250px;
        display: flex;
        justify-content: center;
        box-shadow: 0 -10px 10px rgba(0,0,0, 0.50);
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
    height: 80px;

    .nav {

        &__ul {
            display: flex;
            flex-direction: row;
            padding-inline-start: 0;  
            height: 80px;
        }

        &__li {
            font-size: 18px;
            color: white;
            align-items: center;             
            padding: 0 12.5px;
            display: flex;
            cursor: pointer;

            &:first-child {
                margin: 0;
            }

            &:hover {
                background-color: rgb(254, 146, 0);
                color: black;
            }
        }

        img {
            width: 13px;
            height: 13px;
            margin-right: 3px;
        }
    }
}
  
.main {

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        height: 570px;
        margin: 0;

        .offer {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 750px;
            line-height: 1.5;

            p {
                text-align: center;
                color: white;
                font-weight: bold;
                line-height: 1.85em;

                &:first-child {
                    font-size: 32px;
                    margin-top: 0px;
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin-top: 10px;
                    font-size: 18px;
                }

            }

            &__line {

                width: 420px;
                height: 7px;
                background-color: white;
                border-radius: 5px;
            }
        }

        .form-find {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__textarea {

                width: 540px;
                height: 50px;
                font-size: 16px;
                border-radius: 25px;
                padding-left: 40px;
                padding-right: 40px;
                margin: 45px 0 35px 0;
            }

            &__button {

                border-style: none;
                font-weight: bold;
                font-size: 20px;
                width: 250px;
                text-align: center;
                vertical-align: middle;
                border-radius: 30px;
                background-color: rgb(254, 146, 0);
                padding: 16.5px 0 17.5px 0;

                &:hover {
                    background-color: rgb(255, 211, 119);
                }
            }
        }
    }

    &__about-us {
        display: flex;
        flex-direction: column;
        padding-top: 35px;
        padding-bottom: 70px;
        max-width: 840px;

        .block-content {
            display: flex;
            flex-direction: row;
            margin-top: 35px;

            .container-advantages {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-right: 20px;

                .advantage {
                    display: flex;
                    flex-direction: row;

                    &__img {

                        img {
                            width: 60px;
                            height: 60px;
                            margin-right: 20px;
                        }
                    }

                    &__text {

                        span {
                            font-weight: bold;
                            font-size: 16px;
                        }

                        p {
                            font-size: 12px;
                            color: rgb(150, 147, 147);
                        } 
                    }   
                }
            }

            .container-picture {
                margin-left: 20px;

                img {
                    width: 400px;
                    height: 300px;
                }
            }

        }

    }

    &__price {
        width: 840px;
        height: 535px;
        padding-top: 35px;
        padding-bottom: 70px;
        background-color: rgb(238, 238, 238);

        .block-content {

            .price-slider {
                overflow: hidden;

                .container-cursor {

                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    
                    img {
                        width: 40px;
                        height: 40px;
                    } 
                }

                .container-slider {
                    width: 2500px;
                    display: flex;
                    flex-direction: row;
                    margin: 10px 0;
                    transition: margin-left 350ms;

                    li {
                        cursor: pointer;
                    }
                    
                    li:first-child {
                        margin-left: 15px;
                    }

                    li + li {
                        margin-left: 30px;
                    }
                }

                .book {

                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 250px;
                    height: 250px;
                    border: 3px solid black;
                    background-color: white;
                    border-radius: 15px;
                    box-sizing: border-box;
                    box-shadow: 5px 5px 5px gray;

                    &__image {

                        top: 35px;
                        left: 55px;
                        display: block;
                        position: absolute;

                        img {
                            width: 140px;
                            height: 180px;
                            
                        }
                    }

                    &__text {

                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0, 0.55);
                        padding: 15px 20px;
                        box-sizing: border-box;

                        &.hidden {
                            display: none;
                        }

                        p {
                            font-size: 13px;
                            color: white;
                        }

                        .book_author {
                            padding-top: 8px;
                        }

                        .book_annotation {
                            padding-top: 8px;
                        }

                        .book_price-name {
                            padding-top: 20px;
                            float: left;
                        }

                        .book_price {
                            padding-top: 20px;
                            color: rgb(254, 146, 0);
                            float: right;
                            text-align: right;
                        }
                    }
                }

                .selected {
                    border: 3px solid rgb(254, 146, 0);
                    box-shadow: 0 0 15px rgb(254, 146, 0);
                }

            }

            .container-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 70px;

                .arrow {
                                 
                    &.left {
                        margin-right: 15px;
                        padding-right: 9px;
                    }

                    &.right {
                        margin-left: 15px;
                        padding-top: 3px;
                        padding-left: 9px;
                    }
                }
            }
        }
    }
    
    &__callback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 840px;
        height: 700px;
        color: white;
        
        .block-heading {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: rgb(255, 255, 255);
            }

            p:nth-child(2) {
                margin-top: 40px;
            }
        }

        .form-callback {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__line-textarea {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 840px;
            }

            &__line-textarea:first-child {
                margin-top: 10px;
            }

            &__line-textarea:last-child {
                margin-top: 40px;
            }

            &__input {
                width: 300px;
            }

            &__container-button {
                margin-top: 40px;
            }            
        }
    }

    &__newbook {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 840px;
        padding-top: 35px;
        padding-bottom: 70px;

        .block-content {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            align-items: center;
            max-width: 840px;
            margin-bottom: 10px;

            .slider-newbook {
                display: flex;
                flex-direction: row;
                width: 6000px;
                transition: margin-left 750ms;

                .book {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    min-width: 840px;
                    margin-top: 50px;
                    margin-bottom: 50px;

                    &__img {
                        min-width: 270px;
                        min-height: 320px;
                        margin-left: 15px;
                        border: 3px solid rgb(0, 0, 0);
                        background-color: rgb(255, 255, 255);
                        border-radius: 15px;
                        box-shadow: 5px 5px 5px rgb(150, 147, 147);
                        cursor: pointer;
    
                        img {
                            margin-left: 60px;
                            margin-top: 60px;
                        }
    
                        &.selected {
                            border: 3px solid rgb(254, 146, 0);
                            box-shadow: 0 0 15px rgb(254, 146, 0);
                        }
                    }

                    &__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        box-sizing: border-box;
                        margin-left: 50px;
                        line-height: 25px;
                    }

                    &__description {
                        margin-top: 20px;
                    }
                    
                    &__price {
                        color: rgb(254, 146, 0);
                    }

                    p:last-child {
                        margin-top: 20px;
                    }

                }      
            }
        }


        .container-button {
            display: flex;
            flex-direction: row;
            align-items: center;

            .arrow.toleft {
                margin-right: 15px;
                padding-right: 9px;
            }

            .arrow.toright {
                margin-left: 15px;
                padding-top: 3px;
                padding-left: 9px;
            }
        }

    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 840px;
        padding-top: 35px;
        padding-bottom: 70px;

        .block-content {
            display: flex;
            flex-direction: row;
            margin-top: 70px;
            margin-bottom: 70px;

            .tablet-map {     
                max-width: 450px;
                max-height: 300px;
                margin-right: 70px;
                box-shadow: 0 5px 5px rgba(0,0,0, 0.50);
                border-radius: 22px;

                iframe {
                    position: relative;
                    top: -288px;
                    left: 52px;
                    border: none;
                }
            }

            .contact-information {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__element {

                    &_font-orange {
                        color: rgb(254, 146, 0)
                    }
                }

                div + div {
                    margin-top: 10px;
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    min-width: 840px;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;

    .social {

        &__text {
            margin-bottom: 25px;
            
            p {
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
        }

        &__icons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .img {
                width: 42px;
                height: 42px;
            }
        }
    }

    &__button {
        margin-left: 57px;

        .up-button {
            width: 42px;
            height: 42px;
            background-color: rgb(255, 255, 255);
        
            p {
                font-size: 30px;
            }
        }
    }
}

// ~~~ Media ~~~

@media (max-width: 1000px) {
    .shop {

        width: 900px;

        &__content {

            min-width: 800px;

            &__list {
                min-width: 380px;
            }

            &__price {
                min-width: 200px;
            }
        }
    }

    .frame {

    }
}