body {
    font-family: "RobotoSlab", "Arial";
    margin: 0;
    padding: 0;
}

.wrapper {
    
    margin: 0;
    min-height: 100%;
    overflow: hidden;

    &__intro {
        margin: 0;
        background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/jp-valery-594443-unsplash.png");
        background-size: 100% 900px;
    }
}

.content__intro {

    max-width: 840px;
    margin: 0 auto;

    .header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;

        &__logo {

            display: flex;
            flex-direction: row;
            align-items: center;

            & img {
                width: 50px;
                height: 50px;
            }

            &__text p {
                font-size: 24px;
                color: white;
                margin-left: 5px;
            }
        
        }

        &__nav__ul{

            display: flex;
            flex-direction: row;
            list-style: none;
            padding-inline-start: 0;  
            height: 80px;

            li {
                font-size: 18px;
                color: white;
                align-items: center;             
                padding: 0 12.5px;
                display: flex;

                &:first-child {
                    margin: 0;
                }

                &:hover {
                    background-color: rgb(254, 146, 0);
                    color: black;
                }
            }

            img {
                width: 13px;
                height: 13px;
                margin-right: 3px;
            }
        }
    }

    .intro {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 580px;
        margin: 0;

        &__textblock {

            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 750px;
            line-height: 1.5;

            p {
                text-align: center;
                color: white;
                
                font-weight: bold;

                &:first-child {
                    font-size: 34px;
                    margin-top: 0px;
                    margin-bottom: 13px;
                }

                &:last-child {
                    margin-top: 25px;
                    font-size: 18px;
                }

            }

            &__line {
                width: 470px;
                height: 8px;
                background-color: white;
                border-radius: 5px;
            }
        }

        &__form_input {

            display: flex;
            flex-direction: column;
            align-items: center;

            &_textarea {
                width: 540px;
                height: 50px;
                font-size: 20px;
                border-radius: 25px;
                border-style: none;
                padding-left: 40px;
                margin-bottom: 50px;
            }

            &_button {
                border-style: none;
                font-size: 20px;
                padding: 15px 50px;
                border-radius: 25px;
                background-color: rgb(254, 146, 0);
            }
        }
    }
}
  


