// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: "Roboto Slab", "Arial";
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

.h1 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.h3 {
    font-size: 18px;
    color: rgb(150, 147, 147);
    text-align: center;
    margin: 10px 0 0 0;
}

.tooltip {
    position: absolute;
    width: 250px;
    height: 65px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    border-radius: 35px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.700s;
}

.tooltip::before {
    content: ''; 
    position: absolute;
    bottom: -30px;
    left: 40px;
    border: 10px solid transparent;
    border-top: 20px solid black;
}

.tooltip::after {
    content: ''; 
    position: absolute;
    bottom: -26px;
    left: 40px;
    border: 10px solid transparent;
    border-top: 20px solid white;
}

p {
    margin: 2px 0 0 0;
}

input {
    outline-style: none;
    border-style: none;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

button {
    outline-style: none;
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(254, 146, 0);

    &:hover {
        background-color: rgb(255, 211, 119);
    }
}

.button {
    width: 250px;
    height: 55px;
    cursor: pointer;
}

.arrow {
    display: block;
    min-width: 30px;
    height: 30px;
}

.wrapper {
    
    margin: 0;
    min-height: 100%;
    overflow: hidden;

    &__intro {
        
        margin: 0;
        background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/jp-valery-594443-unsplash.png");
        background-size: 100% 885px;
        box-shadow: 0 5px 5px rgba(0,0,0, 0.50);
        margin-bottom: 10px;
    }

    &__main {

        &__about_us {

            background-color: white;
            display: flex;
            justify-content: center;
        }

        &__price {

            background-color: rgb(238, 238, 238);
            display: flex;
            justify-content: center;
        }

        &__finder {
            
            display: flex;
            justify-content: center;
            background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/book_and_compas.jpeg");
        }

        &__newbook {

            display: flex;
            justify-content: center;
            background-color: white;
        }

        &__contacts {

            display: flex;
            justify-content: center;
            background-color: rgb(238, 238, 238);
        }
    }

    &__footer {
        background-image: url("file:///Users/vladimir/Documents/git-Jules-Verne-site/img/footer_background.jpg");
        background-size: 100% 250px;
        display: flex;
        justify-content: center;
    }
}

.content__intro {

    max-width: 840px;
    margin: 0 auto;
    

    .header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;

        &__logo {

            display: flex;
            flex-direction: row;
            align-items: center;

            & img {
                width: 50px;
                height: 50px;
            }

            &__text p {
                font-size: 24px;
                color: white;
                margin-left: 5px;
            }
        
        }

        &__nav__ul{

            display: flex;
            flex-direction: row;
            padding-inline-start: 0;  
            height: 80px;

            li {
                font-size: 18px;
                color: white;
                align-items: center;             
                padding: 0 12.5px;
                display: flex;
                cursor: pointer;

                &:first-child {
                    margin: 0;
                }

                &:hover {
                    background-color: rgb(254, 146, 0);
                    color: black;
                }
            }

            img {
                width: 13px;
                height: 13px;
                margin-right: 3px;
            }
        }
    }

    .intro {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 570px;
        margin: 0;

        &__textblock {

            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 750px;
            line-height: 1.5;

            p {
                text-align: center;
                color: white;
                font-weight: bold;
                line-height: 1.85em;

                &:first-child {
                    font-size: 32px;
                    margin-top: 0px;
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin-top: 10px;
                    font-size: 18px;
                }

            }

            &__line {

                width: 420px;
                height: 7px;
                background-color: white;
                border-radius: 5px;
            }
        }

        &__form_input {

            display: flex;
            flex-direction: column;
            align-items: center;

            &_textarea {

                width: 540px;
                height: 50px;
                font-size: 16px;
                border-radius: 25px;
                padding-left: 40px;
                padding-right: 40px;
                margin: 45px 0 35px 0;
            }

            &_button {

                border-style: none;
                font-weight: bold;
                font-size: 20px;
                width: 250px;
                text-align: center;
                vertical-align: middle;
                border-radius: 30px;
                background-color: rgb(254, 146, 0);
                padding: 16.5px 0 17.5px 0;

                &:hover {
                    background-color: rgb(255, 211, 119);
                }
            }
        }
    }
}
  
.main {

    width: 100%;

    &__about_us {

        display: flex;
        flex-direction: column;
        padding-top: 35px;
        padding-bottom: 70px;
        max-width: 840px;

        &__content {

            display: flex;
            flex-direction: row;
            margin-top: 35px;

            &__pane {

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-right: 20px;

                &__element {

                    display: flex;
                    flex-direction: row;

                    &__text {

                        span {
                            font-weight: bold;
                            font-size: 16px;
                        }

                        p {
                            font-size: 12px;
                            color: rgb(150, 147, 147);
                        }
                        
                    }

                    &__img img {
                        width: 60px;
                        height: 60px;
                        margin-right: 20px;
                    }

                }

            }

            &__img {

                margin-left: 20px;

                img {
                    width: 400px;
                    height: 300px;
                }
            }

        }

    }

    &__price {

        width: 840px;
        height: 535px;
        padding-top: 35px;
        padding-bottom: 70px;
        background-color: rgb(238, 238, 238);

        &__content {

            &__slider {

                overflow: hidden;

                &__zone {

                    width: 2500px;
                    display: flex;
                    flex-direction: row;
                    margin-top: 70px;
                    transition: margin-left 750ms;
                    
                    li:first-child {
                        margin-left: 15px;
                    }

                    li + li {
                        margin-left: 30px;
                    }
                }

                &__pane {

                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 250px;
                    height: 250px;
                    border: 3px solid black;
                    background-color: white;
                    border-radius: 5px;
                    box-sizing: border-box;
                    box-shadow: 5px 5px 5px gray;

                    &__img {

                        top: 35px;
                        left: 55px;
                        display: block;
                        position: absolute;

                        img {
                            width: 140px;
                            height: 180px;
                            
                        }
                    }

                    &__text {

                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0, 0.55);
                        padding: 15px 20px;
                        box-sizing: border-box;

                        &.hidden {
                            display: none;
                        }

                        p {
                            font-size: 13px;
                            color: white;
                        }

                        .book_author {
                            padding-top: 8px;
                        }

                        .book_annotation {
                            padding-top: 8px;
                        }

                        .book_price_name {
                            padding-top: 20px;
                            float: left;
                        }

                        .book_price {
                            padding-top: 20px;
                            color: rgb(254, 146, 0);
                            float: right;
                            text-align: right;
                        }
                    }
                }

                .selected {
                    border: 3px solid rgb(254, 146, 0);
                    box-shadow: 0 0 15px rgb(254, 146, 0);
                }

            }

            &__buttons {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 70px;

                .arrow {
                                 
                    &.left {
                        margin-right: 15px;
                        padding-right: 9px;
                    }

                    &.right {
                        margin-left: 15px;
                        padding-top: 3px;
                        padding-left: 9px;
                    }
                }
            }
        }
    }
    
    &__finder {
        
        display: flex;
        justify-content: center;
        width: 840px;
        height: 700px;
        color: white;
        
        .heading {
            font-size: 36px;
        }

        &__content {

            display: flex;
            flex-direction: column;
            justify-content: center;

            &__text {

                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__form__input {

                display: flex;
                flex-direction: column;
                align-items: center;

                .line {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 840px;
                    margin-top: 40px;
                }

                .line + .line {
                    margin-bottom: 40px;
                }

                .input {
                    width: 300px;
                }
            }
        }
    }

    &__newbook {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 840px;
        padding-top: 35px;
        padding-bottom: 70px;

        &__slider {

            display: flex;
            flex-direction: row;
            overflow: hidden;
            align-items: center;
            max-width: 840px;
            margin-bottom: 10px;

            &__ul {

                display: flex;
                flex-direction: row;
                width: 6000px;
                transition: margin-left 750ms;

                &__li {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    min-width: 840px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                .pane {
                    min-width: 270px;
                    min-height: 320px;
                    margin-left: 15px;
                    border: 3px solid black;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow: 5px 5px 5px grey;

                    img {
                        margin-left: 60px;
                        margin-top: 60px;
                    }

                    &.selected {
                        border: 3px solid rgb(254, 146, 0);
                        box-shadow: 0 0 15px rgb(254, 146, 0);
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-sizing: border-box;
                    margin-left: 35px;
                    line-height: 25px;
                    

                    .about {
                        color: gray;
                        text-decoration: underline;
                    }

                    .description {
                        margin-top: 20px;
                    }

                    .book_price {
                        color: #fe9200;
                    }
                }
            }
        }


        &__button {

            display: flex;
            flex-direction: row;
            align-items: center;

            .arrow.toleft {
                margin-right: 15px;
                padding-right: 9px;
            }

            .arrow.toright {
                margin-left: 15px;
                padding-top: 3px;
                padding-left: 9px;
            }
        }

    }

    &__contacts {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 840px;
        padding-top: 35px;
        padding-bottom: 70px;

        &__content {

            display: flex;
            flex-direction: row;
            margin-top: 70px;
            margin-bottom: 70px;

            &__tablet {
                
                max-width: 450px;
                max-height: 300px;
                margin-right: 50px;
                box-shadow: 0 5px 5px rgba(0,0,0, 0.50);
                border-radius: 22px;

                .map {
                    position: relative;
                    top: -288px;
                    left: 52px;
                }
            }

            &__text {

                display: flex;
                flex-direction: column;
                justify-content: center;

                .text_section + .text_section {
                    margin-top: 10px;
                }

                .orange_font {
                    color: #fe9200;
                }

            }
        }
    }
}

.footer {

    display: flex;
    flex-direction: row;
    min-width: 840px;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;

    &__logo {

        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 200px;

        & img {
            width: 50px;
            height: 50px;
        }

        &__text p {
            font-size: 24px;
            color: white;
            margin-left: 5px;
        }
    
    }

    &__social {

        &__text {

            margin-bottom: 25px;
            
            .text {
                font-size: 20px;
                color: white;
            }
        }

        &__icons {

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .img {
                width: 42px;
                height: 42px;
            }
        }
    }

    &__button {

        margin-left: 57px;

        .up_button {

            width: 42px;
            height: 42px;
            background-color: white;
        
            p {
                margin-top: 8px;
                font-size: 30px;
            }
        }
    }
}
